# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*

# local db
*.sqlite

# build artifacts
.tsbuild
docs/.vitepress/cache
docs/.vitepress/dist
